.game-card {
    border: 1px solid black;
    border-radius: 8px;
    max-width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-card h2 {
    color: brown;
}

.game-card p {
    color: blueviolet;
}